/* Container principale della pagina Home */
.homeContainer {
  padding: 20px;
}

/* Titolo della sezione Home */
.homeTitle {
  font-size: 2rem;
  color: #333;
}

/* Placeholder dell’immagine nel box palestra */
.imagePlaceholder {
  margin-top: 32px;
  text-align: center;
  color: #888;
  font-style: italic;
}

/* Icona sezione Aggiungi Cliente */
.clienti-page-icon {
  font-size: 32px !important;
  background-color: rgba(163, 243, 168, 0.3) !important;
  border-radius: 12px !important;
  padding: 8px !important;
  color: #30ab1a !important;
  position: relative !important;
  top: 2px !important;
}

/* Icona sezione Aggiungi Transazione */
.transazioni-page-icon {
  font-size: 50px !important;
  background-color: rgba(243, 163, 163, 0.3) !important;
  border-radius: 12px !important;
  padding: 8px !important;
  color: #ab1a1a !important;
  position: relative !important;
  top: 2px !important;
}

.home-page-icon {
  font-size: 32px !important;
  background-color: rgba(163, 196, 243, 0.3) !important;
  border-radius: 12px !important;
  padding: 8px !important;
  color: #1A3DAB !important;
  position: relative !important;
  top: 2px !important;
}